@page
@model Book.AddModel
@{
    ViewData["Title"] = "Add";
}

<div class="container container-fluid">    
    <h2>Add</h2>

    @Html.EditorFor(m=>m.AddBookBindingModel)
</div>
@section Scriptis{
    <partial name="_ValidationScriptsPartial" />
}