@page "{id}"
@model BorrowModel
@{
    ViewData["Title"] = "Borrow";
}

<div class="container">
    <h2>Borrow the book</h2>
    @Html.EditorFor(m => m.BorrowBookBindingModel)
</div>
@section Scriptis{
    <partial name="_ValidationScriptsPartial" />
}