@page

@model BookLibrary.Web.Pages.Book.StatusModel
@{
    ViewData["Title"] = "Status";
}

<div class="container container-fluid">
    <h1>Borrowing history of the book "@Model.BookTitle"</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Borrowed by:</th>
                <th>Period</th>
            </tr>
        </thead>
        <tbody>
            @Html.DisplayFor(m => m.StatusViewModels)
        </tbody>
    </table>
</div>

