<div class="box">
    <h1>Sign in</h1>
    <div class="content">
        <form action="#/login" method="POST" id="login-form">
            <label for="username">Username</label>
            <input name="username" id="username" type="text">
            <label for="password">Password</label>
            <input name="pass" id="password" type="password">

            <input type="submit" value="Login">
        </form>
        <div class="centered">
            <a href="#/register">Register</a>
        </div>
    </div>
</div>
