form {
    background:#eee;
    display:inline-block;
}

form span{
    display:block;
    width:80px;
    background:#eee;
    margin:10px 3px 3px 8px;
}

form input,form select{
    width: 150px;
    height:20px;
    margin:0px 5px;
    box-sizing:border-box;
}

form select{
    margin: 1px;
}

form input[type='submit']{
    display:block;
    margin: 10px 0px 12px 40px;
    width: 80px;
    height:30px;
}