<h2>Create your accout:</h2>
<form action="/user/register" method="post">
    <div class="form-holder text-center text-danger">{{{error}}}</div>
    <label>Name:</label>
    <input type="text" id="Name" name="Name" placeholder="Name">
    <label>Email:</label>
    <input type="email" id="Email" name="Email" placeholder="Email">
    <label>Password:</label>
    <input type="password" id="Password" name="Password" placeholder="Password">
    <label>Repeat Password:</label>
    <input type="password" id="RepeatPassword" name="RepeatPassword" placeholder="Repeat Password">
    <input type="submit" class="register" value="Register">
</form>