<div id="allCats">
    {{#each cats}}
    <div class="card col-md-4">
        <img class="card-img-center" src="images/{{imageLocation}}.jpg" width="250" height="250" alt="Card image cap">
        <div class="card-block">
            <button class="btn btn-primary">Show status code</button>
            <div style="display: none" id="{{id}}">
                <h4 class="card-title">Status Code: {{statusCode}}</h4>
                <p class="card-text">{{statusMessage}}</p>
            </div>
        </div>
    </div>
    {{/each}}
</div>