{{>header}}
<section id="viewUserHome">
    <h1 id="viewUserHomeHeading">Welcome, {{username}}!</h1>
    <a href="#/messages" id="linkUserHomeMyMessages">My Messages</a>
    <a href="#/send" id="linkUserHomeSendMessage">Send Message</a>
    <a href="#/archive" id="linkUserHomeArchiveSent">Archive (Sent)</a>
</section>
{{>footer}}