<form action="#/register" method="post">
    <div class="form-group">
        <label for="username">Username:</label>
        <input class="form-control" type="text" id="username" name="username"/>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input class="form-control" type="password" id="password" name="password"/>
    </div>
    <div class="form-group">
        <label for="repeatPassword">Repeat Password:</label>
        <input class="form-control" type="password" id="repeatPassword" name="repeatPassword"/>
    </div>
    <input class="btn btn-default" type="submit" value="Register"/>
</form>