<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FDMC</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="js/bootstrap.min.js">
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">FDMC</a>

            <div class="collapse navbar-collapse justify-content-end row" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    {{{topMenu}}}
                </ul>
            </div>
        </nav>
        <hr class="my-5" />
        {{{content}}}
        <hr class="my-5" />
        <footer class="footer">
            <div class="container-fluid">
                <div class="text-muted container-fluid text-center">&copy; CopyRight Sanity Web Design Studios 2018. All rights reserved.</div>
            </div>
        </footer>
    </div>
</body>
</html>