<div class="legend text-center">
    <h2>Add Kitten</h2>
</div>
<hr class="my-2">
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="form-holder text-center">
            <div class="text-danger">{{{error}}}</div>
            <form class="form-inline" action="/kittens/add" method="POST">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="name">Name</label>
                        <div class="controls">
                            <input type="text" id="name" name="Name" placeholder="" class="input-xlarge form-control">
                        </div>
                    </div>
                    <br />
                    <div class="control-group">
                        <label class="control-label" for="age">Age</label>
                        <div class="controls">
                            <input type="number" min="0" max="20" step="1"
                                   id="age" name="Age" placeholder="" class="input-xlarge form-control">
                        </div>
                    </div>
                    <br />
                    <div class="control-group">
                        <label class="control-label" for="breed">Breed</label>
                        <div class="controls">
                            <input type="text" id="breed" name="Breed" placeholder="" class="input-xlarge form-control">
                        </div>
                    </div>
                    <br />
                    <div class="control-group">
                        <div class="controls">
                            <button class="btn btn-success">Add</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>