<form action="#/register" method="post" id="registerForm">
    <h2>Register</h2>
    <label>Username:</label>
    <input name="username" type="text">
    <label>Password:</label>
    <input name="password" type="password">
    <label>Repeat Password:</label>
    <input name="repeatPass" type="password">
    <input id="btnRegister" value="Sign Up" type="submit">
</form>