<div class="legend text-center">
    <h2>Register</h2>
</div>
<hr class="my-2">
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="form-holder text-center">
            <div class="text-center text-danger">{{{error}}}</div>
            <form class="form-inline" action="/users/register" method="POST">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="username">Username</label>
                        <div class="controls">
                            <input type="text" id="Username" name="Username" placeholder="" class="input-xlarge">
                        </div>
                    </div>
                    <br/>
                    <div class="control-group">
                        <label class="control-label" for="email">E-mail</label>
                        <div class="controls">
                            <input type="email" id="Email" name="Email" placeholder="" class="input-xlarge">
                        </div>
                    </div>
                    <br/>
                    <div class="control-group">
                        <label class="control-label" for="password">Password</label>
                        <div class="controls">
                            <input type="password" id="Password" name="Password" placeholder=""
                                   class="input-xlarge">
                        </div>
                    </div>
                    <br/>
                    <div class="control-group">
                        <label class="control-label" for="confirmPassword">Confirm Password</label>
                        <div class="controls">
                            <input type="password" id="ConfirmPassword" name="ConfirmPassword" placeholder=""
                                   class="input-xlarge">
                        </div>
                    </div>
                    <br/>
                    <div class="control-group">
                        <div class="controls">
                            <button class="btn btn-success">Register</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>