<h1>Details</h1>
<div class="content">
    <div class="info">
        <div class="col">
            <span class="avatar">&#9787;</span>
        </div>
        <div class="col">
            <span class="name">{{selected.firstName}}</span>
            <span class="name">{{selected.lastName}}</span>
        </div>
    </div>
    <div class="info">
        <span class="info-line">&phone; {{selected.phone}}</span>
        <span class="info-line">&#9993; {{selected.email}}</span>
    </div>
</div>