{{> header}}
<div class="content">
    {{> navigation}}
    <section id="viewSubmit">
        <div class="submitArea">

            <h1>Submit Link</h1>
            <p>Please, fill out the form. A thumbnail image is not required.</p>
        </div>
        <div class="submitArea formContainer">
            {{> createPostForm}}
        </div>
    </section>
</div>
{{> footer}}