<header>
    <span class="logo">☃</span><span class="header">SeenIt</span>
    {{#if isAuth}}
        <div id="profile"><span>{{username}}</span>|<a href="#/logout">logout</a></div>
    {{/if}}
</header>