<div class="content">
    <div id="menu">
        <div class="title">Navigation</div>
        <a class="nav" href="#/catalog">Catalog</a>
        <a class="nav" href="#/submitLink">Submit Link</a>
        <a class="nav" href="#/myPosts">My Posts</a>
    </div>
</div>