<tr>
    <td>{{recipient_username}}</td>
    <td>{{text}}</td>
    <td>{{date}}</td>
    <td>
        <form action="#/delete/{{_id}}" method="post">
            <button>Delete</button>
        </form>
    </td>
</tr>