<section id="viewDiscover">
    <div class="content">
        <div class="chirps">
            <h2 class="titlebar">Discover</h2>
            <div id="userlist">
                <div class="userbox">
                    {{#each followersCounts}}
                        {{> followerCount}}
                    {{/each}}
                </div>
            </div>
        </div>
</section>
