<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MeTube</title>
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../Content/style.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-toggleable-md navbar-dark bg-color-dark">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand h4" href="/home/index">MeTube&trade;</a>

            <div class="collapse navbar-collapse justify-content-end row" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active col-md-4">
                        <a class="nav-link h5" href="/home/index">Home</a>
                    </li>
                    <li class="nav-item active col-md-4">
                        <a class="nav-link h5" href="/users/login">Login</a>
                    </li>
                    <li class="nav-item active col-md-4">
                        <a class="nav-link h5" href="/users/register">Register</a>
                    </li>
                </ul>
            </div>
        </nav>
        <hr class="my-3" />
        {{{content}}}
        <hr class="my-3" />
        <footer class="footer py-3">
            <div class="container-fluid">
                <div class="container-fluid text-center">&copy; CopyRight Sanity Web Design Studios 2018. All rights reserved.</div>
            </div>
        </footer>
    </div>
</body>
</html>