@page "{id}"
@model Author.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<div class="container container-fluid">
    <h2>@Model.BooksByAuthor.Name</h2>
    <ul>
        @foreach (var book in Model.BooksByAuthor.Books)
        {
            <li><a asp-page="/Book/Details" asp-route-id="@book.Id">@book.Title</a>(@book.Status)</li>
        }
    </ul>
</div>

