@page "{id}"
@model Author.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<div class="container container-fluid">
    <h2>@Model.BooksByAuthor.Name</h2>
    <ul>
       @Html.DisplayFor(m=>m.BooksByAuthor.Books)
    </ul>
</div>

