<section id="viewLogin">
    <div class="content">
        <form action="#/login" method="post" id="formLogin" class="form">
            <label>Username</label>
            <input name="username" type="text">
            <label>Password</label>
            <input name="password" type="password">
            <input id="btnLogin" value="Sign In" type="submit">
            <a href="#/register">Register</a>
        </form>
    </div>
</section>