@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container container-fluid">
    <h1>My Library</h1>
    <a asp-page="Book/Add" class="btn btn-success">Add Book</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @Html.DisplayFor(m => m.BookViewModels)
        </tbody>
    </table>
    <h1>My Movies</h1>
    <a asp-controller="Movie" asp-action="Add" class="btn btn-success">Add Movie</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Diresctor</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @Html.DisplayFor(m => m.MovieViewModels)
        </tbody>
    </table>
</div>

