{{> header}}
<div class="content">
    <section id="viewWelcome">
        <div class="welcome">
            <div class="signup">
                {{> loginForm}}
                {{> registerForm}}
            </div>

            <div class="about">
                <h1>Welcome to SeenIt</h1>
                <p>
                    Share interesting links and discuss great content. It's what's happening now.
                </p>
                <p>Sign in or sign up in a second.</p>
            </div>
        </div>
    </section>
</div>

{{> footer}}