@import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");

a{
    color: white;
    text-decoration: none;
}

p{
    width: 120px;
    border-radius: 5px;
    text-align: center;
}

.fa-star, .fa-envelope{
    padding-right: 5px;
}

p:first-child{
    background-color: orange;
}

p:last-child{
    background-color: green;
}