<form action="#/login" method="post" id="formLogin">
    <label>Username:</label>
    <input type="text" name="username" placeholder="Enter your Email" >
    <label>Password:</label>
    <input type="password" name="pass" placeholder="Enter your Password">
    <input type="submit" class="login" value="Login">
</form>