<form action="#/register" method="post" id="formRegister">
    <label>Username:</label>
    <input type="text" name="username" placeholder="Username" >
    <label>Password:</label>
    <input type="password" name="pass" placeholder="Password">
    <label>Repeat Password:</label>
    <input type="password" name="checkPass" placeholder="Repeat Password">
    <input type="submit" class="register" value="Register">
</form>