<form action="#/login" method="post" id="login-form">
    <label for="username-login">Username</label>
    <input type="text" name="username-login" id="username-login" placeholder="Username">
    <label for="password-login">Password</label>
    <input type="password" name="password-login" id="password-login" placeholder="Password">
    <input id="loginBtn" type="submit" value="Login" />
</form>