<form action="#/register" method="post" id="register-form">
    <label for="username-register">Username</label>
    <input type="text" name="username-register" id="username-register" placeholder="Username">
    <label for="password-register">Password</label>
    <input type="password" name="password-register" id="password-register" placeholder="Password">
    <label for="password-register-check">Password check</label>
    <input type="password" name="password-register-check" id="password-register-check" placeholder="Repeat password">
    <input id="registerBtn" type="submit" value="Register" />
</form>