<article class="chirp">
    <div class="titlebar">
        <a href="#" class="chirp-author">{{author}}</a>
        <span class="chirp-time">{{time}} day</span>
    </div>
    <p>{{text}}</p>
</article>