<form action="#/register" method="post" id="formRegister">
    <label>
        <div>Username:</div>
        <input type="text" name="username" id="registerUsername" required/>
    </label>
    <label>
        <div>Password:</div>
        <input type="password" name="password" id="registerPasswd" required/>
    </label>
    <label>
        <div>Name:</div>
        <input type="text" name="name" id="registerName"/>
    </label>
    <div>
        <input type="submit" value="Register"/>
    </div>
</form>