.normal-button, .filled-button{
  border: solid;
  border-radius: 1em;
  display: inline-block;
  width: 9em;
  height: auto;
}

.normal-button :hover{
  color:green;
  border-color: green;
}

button{
  border:0;
  font-size: 100%;
  padding: 0;
  text-decoration: none;
  color: black;
  padding-left: 1.6em;
  padding-right: 1.4em;
  text-align: center;
  cursor: pointer;
  outline: none;
}

.filled-button{
  background-color: black; 
  color: white;
}

.filled-button :hover{
  background-color: green; 
}