<form action="#/login" method="post" id="formLogin">
    <label>
        <div>Username:</div>
        <input type="text" name="username" id="loginUsername" required />
    </label>
    <label>
        <div>Password:</div>
        <input type="password" name="password" id="loginPasswd" required />
    </label>
    <div>
        <input type="submit" value="Login" />
    </div>
</form>